/*------------------------------------Estruturação da página-------------------------------------------------------*/

.pagina {
  display: flex;
  flex-direction: row;
}
.sidebar {
  width: 220px;
  height: 2508px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
/*--------------------------------------------Sidebar------------------------------------------------------------*/
.sidebar_title {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#ffb354, #ee7a3a);
  font-size: 30px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  height: 68px;
}
ul {
  list-style-type: none;
  padding-left: 0px;
  margin-top: 0px;
}
li {
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 15px;
  font-family: "Quicksand", sans-serif;
  border-bottom: 1px solid #e5e5e5;
  padding-left: 24px;
}
.sidebar_menuList_selected {
  background-color: #fdf1eb;
  border-left: 5px solid;
  border-image: linear-gradient(#ffb455, #ed7839) 0 100%;
}

/*----------------------------------------------Main--------------------------------------------------------------*/
.main {
  flex-direction: column;
}
/*----------------------------------------------Main Title--------------------------------------------------------------*/
.main_title {
  display: flex;
  flex-direction: row;
  width: 1081px;
  height: 68px;
  background-color: #fdf1eb;
  padding: 0 29px 0 36px;
}
.main_title_anais {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding-right: 110px;
}
.main_title_anais > span {
  font-size: 22px;
}
.main_title_languageButton {
  display: flex;
  align-items: center;
  margin-right: 22px;
}
.main_title_languageButton > select {
  width: 97px;
  height: 34px;
  padding-left: 17px;
  background-image: url(./language\ image.png);
  background-position-y: center;
  background-repeat: no-repeat;
  font-family: "Quicksand", sans-serif;
  background-color: #fdf1eb;
  border: 1px solid #cccccc;
}
.main_title_login {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
  padding-top: 17px;
}
.main_title_login > span {
  font-size: 14px;
}
.main_title_image {
  padding-top: 17px;
  position: relative;
}
.main_title_image > img {
  border-radius: 50%;
}
.main_title_image > span {
  font-family: "Roboto", sans-serif;
  position: absolute;
  right: -3px;
  background-color: #f85959;
  color: #ffffff;
  border-radius: 50%;
  font-size: 10px;
  width: 12px;
  height: 12px;
  text-align: center;
}
