:root {
  --laranja: #ed7839;
  --laranjinha: #fdf1eb;
  --roboto: "Roboto", sans-serif;
  --quickSand: "Quicksand", sans-serif;
}

/*------------------------------------Estruturação da página-------------------------------------------------------*/

body {
  display: flex;
  flex-direction: row;
}
sidebar {
  width: 220px;
  height: 2508px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
/*--------------------------------------------Sidebar------------------------------------------------------------*/
.sidebar_title {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#ffb354, var(--laranja));
  font-size: 30px;
  color: #ffffff;
  font-family: var(--roboto);
  height: 68px;
}
.sidebar_menuList ul {
  list-style-type: none;
  padding-left: 0px;
  margin-top: 0px;
}
.sidebar_menuList li {
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 15px;
  font-family: var(--quickSand);
  border-bottom: 1px solid #e5e5e5;
  padding-left: 24px;
}
.sidebar_menuList_selected {
  background-color: var(--laranjinha);
  border-left: 5px solid;
  border-image: linear-gradient(#ffb455, var(--laranja)) 0 100%;
}

/*----------------------------------------------Main--------------------------------------------------------------*/
.main {
  flex-direction: column;
}
/*----------------------------------------------Main Title--------------------------------------------------------------*/
header {
  display: flex;
  flex-direction: row;
  width: 1081px;
  height: 68px;
  background-color: var(--laranjinha);
  padding: 0 29px 0 36px;
}
.header_anais {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--roboto);
  font-size: 14px;
  padding-right: 110px;
}
.header_anais > span {
  font-size: 22px;
}
.header_languageButton {
  display: flex;
  align-items: center;
  margin-right: 22px;
}
.header_languageButton > select {
  width: 97px;
  height: 34px;
  padding-left: 17px;
  background-image: url(./language\ image.png);
  background-position-y: center;
  background-repeat: no-repeat;
  font-family: var(--quickSand);
  background-color: var(--laranjinha);
  border: 1px solid #cccccc;
}
.header_login {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: var(--quickSand);
  font-size: 12px;
  padding-top: 17px;
  padding-right: 8px;
}
.header_login > span {
  font-size: 14px;
}
.header_image {
  padding-top: 17px;
  position: relative;
}
.header_image > img {
  border-radius: 50%;
}
.header_image > span {
  font-family: "Roboto", sans-serif;
  position: absolute;
  right: -3px;
  background-color: #f85959;
  color: #ffffff;
  border-radius: 50%;
  font-size: 10px;
  width: 12px;
  height: 12px;
  text-align: center;
}
/*----------------------------------------------Main Front--------------------------------------------------------------*/
.main_front {
  display: flex;
  flex-direction: row;
}

.main_front_video {
  padding: 20px 31px 30px 45px;
}
.main_front_video_title {
  font-family: var(--roboto);
  font-size: 20px;
  font-weight: 900;
  color: var(--laranja);
  width: 786px;
  height: 54px;
  padding-bottom: 19px;
}
.main_front_detalhes {
  display: flex;
  flex-direction: column;
  padding: 20px 45px 0px 0px;
}
.main_front_detalhes_buttons {
  display: flex;
}

.main_front_detalhes_buttons > button {
  color: #ffffff;
  background-color: var(--laranja);
  height: 31px;
  font-family: var(--roboto);
  font-size: 16px;
  border: 0px;
  padding: 3px 12px;
  margin-right: 5px;
}
.main_front_detalhes > span {
  color: var(--laranja);
  font-family: var(--roboto);
  font-size: 14px;
  padding: 12px 0px 17px;
}
.main_front_detalhes_box {
  border: 1px solid #ececec;
  width: 242px;
  font-family: var(--quickSand);
  font-size: 12px;
  overflow-y: scroll;
  height: 394px;
}

.main_front_detalhes_box_title {
  height: 45px;
  background-color: var(--laranjinha);
  border: 1px solid #ececec;
  border-bottom: 0px;
  font-family: var(--roboto);
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
}
.main_front_detalhes_box ul {
  list-style: none;
  padding-left: 15px;
  padding-bottom: 16px;
}
.main_front_detalhes_box ul:nth-of-type(2) {
  font-size: 14px;
  line-height: 21px;
}
.main_front_detalhes_box ul:nth-of-type(3) {
  color: rgba(0, 0, 0, 0.4);
}
