:root {
  --laranja: #ed7839;
  --laranjinha: #fdf1eb;
  --roboto: "Roboto", sans-serif;
  --quickSand: "Quicksand", sans-serif;
  --bordinha: 1px solid #ececec;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
/*------------------------------------Estruturação da página-------------------------------------------------------*/

.container {
  display: flex;
  flex-direction: row;
}
sidebar {
  width: 220px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  position: fixed;
  height: 100%;
  background-color: #fff;
}
/*--------------------------------------------Sidebar------------------------------------------------------------*/
.sidebar_title {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#ffb354, var(--laranja));
  font-size: 30px;
  color: #ffffff;
  font-family: var(--roboto);
  height: 68px;
}
.sidebar_menuList ul {
  list-style-type: none;
  padding-left: 0px;
  margin-top: 0px;
}
.sidebar_menuList li {
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 15px;
  font-family: var(--quickSand);
  border-bottom: 1px solid #e5e5e5;
  padding-left: 24px;
}
.sidebar_menuList_selected {
  background-color: var(--laranjinha);
  border-left: 5px solid;
  border-image: linear-gradient(#ffb455, var(--laranja)) 0 100%;
}

/*----------------------------------------------Main--------------------------------------------------------------*/
.main {
  flex-direction: column;
  margin-left: 220px;
}
/*----------------------------------------------Main Title--------------------------------------------------------------*/
header {
  display: flex;
  flex-direction: row;
  width: 1081px;
  height: 68px;
  background-color: var(--laranjinha);
  padding: 0 29px 0 36px;
  box-sizing: unset;
}
.header_anais {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--roboto);
  font-size: 14px;
  padding-right: 110px;
}
.header_anais > span {
  font-size: 22px;
}
.header_languageButton {
  display: flex;
  align-items: center;
  margin-right: 22px;
}
.header_languageButton > select {
  width: 97px;
  height: 34px;
  padding-left: 17px;
  background-image: url(./language\ image.png);
  background-position-y: center;
  background-repeat: no-repeat;
  font-family: var(--quickSand);
  background-color: var(--laranjinha);
  border: 1px solid #cccccc;
}
.header_login {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: var(--quickSand);
  font-size: 12px;
  padding-top: 17px;
  padding-right: 8px;
}
.header_login > span {
  font-size: 14px;
}
.header_image {
  padding-top: 17px;
  position: relative;
}
.header_image > img {
  border-radius: 50%;
}
.header_image > span {
  font-family: "Roboto", sans-serif;
  position: absolute;
  right: -3px;
  background-color: #f85959;
  color: #ffffff;
  border-radius: 50%;
  font-size: 10px;
  width: 12px;
  height: 12px;
  text-align: center;
}
/*----------------------------------------------Main Front--------------------------------------------------------------*/
.main_front {
  display: flex;
  flex-direction: row;
}

/*----------------------------------------------Main Front video--------------------------------------------------------------*/

.main_front_video {
  padding: 20px 31px 30px 45px;
  position: relative;
}

.main_front_video video {
  position: relative;
  z-index: 0;
}

.main_front_video_overlay1 {
  position: absolute;
  top: 20%;
  z-index: 1;
  font-family: var(--roboto);
  font-weight: 900;
  font-size: 24px;
  line-height: 25px;
  color: #ffffff;
  width: 668px;
  margin-left: 32px;
  background-color: rgba(0, 0, 0, 0.4);
}

.main_front_video_overlay2 {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 65%;
  z-index: 1;
  font-family: var(--roboto);
  font-weight: 900;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  margin-left: 32px;
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
}
.main_front_video_overlay2 img {
  border-radius: 50%;
  border: 1px solid var(--laranja);
  margin-right: 17px;
}
.main_front_video_overlay2 p {
  font-size: 30px;
  margin-bottom: 5px;
}
/*----------------------------------------------Main Front Title--------------------------------------------------------------*/
.main_front_video_title {
  font-family: var(--roboto);
  font-size: 20px !important;
  font-weight: 900;
  color: var(--laranja);
  width: 786px;
  height: 54px;
  margin-bottom: 19px;
}

/*----------------------------------------------Main Front Detalhes--------------------------------------------------------------*/

.main_front_detalhes {
  display: flex;
  flex-direction: column;
  padding: 20px 45px 0px 0px;
}
.main_front_detalhes_buttons {
  display: flex;
}

.main_front_detalhes_buttons > button {
  color: #ffffff;
  background-color: var(--laranja);
  height: 31px;
  font-family: var(--roboto);
  font-size: 16px;
  border: 0px;
  padding: 3px 12px;
  margin-right: 5px;
}
.main_front_detalhes > span {
  color: var(--laranja);
  font-family: var(--roboto);
  font-size: 14px;
  padding: 12px 0px 17px;
}
.main_front_detalhes_box {
  border: var(--bordinha);
  width: 242px;
  font-family: var(--quickSand);
  font-size: 12px;
  overflow-y: scroll;
  height: 394px;
}

.main_front_detalhes_box_title {
  height: 45px;
  background-color: var(--laranjinha);
  border: var(--bordinha);
  border-bottom: 0px;
  font-family: var(--roboto);
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
}
.main_front_detalhes_box ul {
  list-style: none;
  padding: 15px 0px 5px 15px;
}
.main_front_detalhes_box ul:nth-of-type(2) {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 16px;
}
.main_front_detalhes_box ul:nth-of-type(3) {
  color: rgba(0, 0, 0, 0.4);
  margin-bottom: 20px;
}

/*----------------------------------------------Main Front Resumo--------------------------------------------------------------*/
.main_resumo {
  box-sizing: unset;
  margin: 0px 45px 30px;
  width: 1058px;
  height: auto;
  text-align: justify;
  border: var(--bordinha);
}
.main_resumo_title {
  display: flex;
  align-items: center;
  height: 45px;
  padding-left: 15px;
  font-family: var(--roboto);
  background-color: var(--laranjinha);
  border-bottom: var(--bordinha);
}
.main_resumo_box {
  padding: 15px;
  font-family: var(--quickSand);
  font-size: 14px;
  line-height: 21px;
}
.main_resumo_box p {
  padding: 10px 0px;
}
#myBtn {
  font-family: var(--quickSand);
  border: 0px;
  font-size: 14px;
  background-color: #fff;
  color: var(--laranja);
}

/*----------------------------------------------Main Discussão--------------------------------------------------------------*/
.main_discussao {
  box-sizing: unset;
  margin: 0px 45px 30px;
  width: 1058px;
  height: auto;
  text-align: justify;
  border: var(--bordinha);
}
.main_discussao_title {
  display: flex;
  align-items: center;
  height: 45px;
  padding-left: 15px;
  font-family: var(--roboto);
  background-color: var(--laranjinha);
  border-bottom: var(--bordinha);
}

/*----------------------------------------------Main Discussão Criando tópicos--------------------------------------------------------------*/
.main_discussao_criandoTopico {
  padding: 15px 17px;
  display: none;
}
.main_discussao_criandoTopico label {
  font-size: 16px;
  font-family: var(--roboto);
  color: var(--laranja);
  font-weight: bold;
  padding-bottom: 4px;
}
.main_discussao_criandoTopico input,
.main_discussao_criandoTopico textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: var(--bordinha);
}
.main_discussao_criandoTopico p {
  font-family: var(--quickSand);
  font-size: 14px;
  text-align: center;
  padding-bottom: 20px;
}
.main_discussao_criandoTopico_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eaf1f2;
  width: 100%;
  border: var(--bordinha);
}
.main_discussao_criandoTopico_buttons_btnEnviar button {
  color: #ffffff;
  background-image: linear-gradient(#ffb354, var(--laranja));
  padding: 8px 66px;
  border: none;
}
.main_discussao_criandoTopico_buttons_text button {
  background-color: #eaf1f2;
  border: none;
  font-weight: bold;
  padding: 7px 30px;
  color: #000;
}
/*----------------------------------------------Main Discussão Box--------------------------------------------------------------*/

.main_discussao_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  font-family: var(--quickSand);
  font-size: 14px;
  line-height: 21px;
}
.main_discussao_box h4 {
  color: var(--laranja);
  font-size: 18px;
  padding-bottom: 27px;
}
.main_discussao_box_icons span {
  margin: 0px 25px 35px;
  font-size: 30px;
}
.main_discussao_box p {
  width: 629px;
  text-align: center;
}

.main_discussao_box a {
  background-image: linear-gradient(#ffb354, var(--laranja));
  color: #fff;
  display: flex;
  align-items: center;
  border: 0px;
  border-radius: 5%;
  padding: 7px 14px;
  font-size: 15px;
  margin: 15px;
  text-decoration: none;
}

/*----------------------------------------------Main Front Discussão Tópicos--------------------------------------------------------------*/
.main_discussao_topicos {
  border-top: var(--bordinha);
  margin: 0px 16px 15px;
  padding-top: 30px;
}
.main_discussao_topicos_box {
  border: var(--bordinha);
  padding: 7px 24px;
  font-size: 14px;
  font-family: var(--quickSand);
  border-radius: 2%;
  margin-bottom: 17px;
}
.main_discussao_topicos_box h4 {
  font-size: 16px;
  color: var(--laranja);
  padding-bottom: 3px;
}
.main_discussao_topicos_box p {
  font-size: 12px;
  padding-bottom: 10px;
}
.main_discussao_topico_icons {
  padding-top: 11px;
  display: flex;
}
.main_discussao_topico_icons button {
  border: 0px;
  margin-right: 15px;
  background-color: #fff;
  font-size: 14px;
}
.main_discussao_topico_icons button:first-child {
  color: var(--laranja);
}
.main_discussao_topico_icons button:nth-child(2) {
  color: var(--laranja);
}

/*----------------------------------------------Footer--------------------------------------------------------------*/
footer {
  margin-left: 234px;
}
